.dashboard-container .ant-card .ant-card-body {
    padding: 8px;
}

.dashboard-container .ant-card-bordered {
    border: 0;
    box-shadow: 3px 2px 5px rgba(13, 38, 76, 0.19);
}
.org-header-container .ant-card-body {
    display: flex;
    justify-content: flex-start;
}

.org-header-text {
    font-weight: bold;
    font-size: 18px;
}